<mat-toolbar>

  <mat-icon class="material-symbols-outlined mglogo" matTooltip="logo MI GESTION">
    account_balance
    </mat-icon>

  <span class="example-spacer"></span>

  <span class="material-symbols-outlined">{{ title }}</span>
  
  <span class="example-spacer"></span>
<!-- USER -->
  <div
    class="d-flex justify-content-around align-items-baseline gap-4"
    *ngIf="authenticatedUser$ | async; let user"
  >
    <button mat-icon-button class="d-flex flex-column">
      <p>
        {{ user.username }}
      </p>
    </button>
  <!-- SESSION -->
    <button mat-icon-button class="d-flex flex-column" (click)="logout()">
      <mat-icon aria-label="logout" class="material-symbols-outlined">
        logout
      </mat-icon>
    </button>
  </div>
  <div
    class="d-flex justify-content-around gap-4"
    *ngIf="(authenticatedUser$ | async) === null"
  >
    <button mat-icon-button class="d-flex flex-column" routerLink="/auth/login" (click)="login()">
      <mat-icon aria-label="login" class="material-symbols-outlined">
        login
      </mat-icon>
    </button>
  </div>
</mat-toolbar>
